.new-tweet {
  width: 100%;
}

.tweet-form {
  width: 100%;
  height: 150px;
  margin-top: 70px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#tweet-text {
  border: none;
  border-bottom: 2.5px solid black;
  resize: none;
  outline: none;
  overflow: hidden;
  background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
  background-color: #4faac9;
  width: 100%;
  height: 30px;
  line-height: 1;
  padding: 0;
}

.bottom-of-tweet {
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

button {
  background-color: #4056A1;
  border: none;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

